# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/elyreacts/node_modules
/elyreacts/Poster Database
/elyreacts/.pnp
/elyreacts/.pnp.js
/elyserves/node_modules
/elyserves/config.env
/project
# testing
/elyreacts/coverage

# production
/elyreacts/build

# misc
/elyreacts/.DS_Store
/elyreacts/.env.local
/elyreacts/.env.development.local
/elyreacts/.env.test.local
/elyreacts/.env.production.local

/elyreacts/npm-debug.log*
/elyreacts/yarn-debug.log*
/elyreacts/yarn-error.log*
