/elyreacts/node_modules
/elyreacts/src/assets/postersDb
/elyreacts/src/assets/artistsDp
/elyreacts/src/assets/originals
/elyreacts/src/assets/heros


/.pnp
/.pnp.js
elyserves/node_modules
/elyserves/config.env
# testing
/elyreacts/coverage

# production
/elyreacts/build
/.history