@import "../../variables.scss";

.linkButton {
    display: inline-block;

    padding: 0.75rem 1rem;

    background: $color_brand_primary;

    font-family: 'Abril Fatface', cursive;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
    letter-spacing: 0.1em;
    border-radius: 2px;
    color: black;

    transition: $transition_time_link;

    &:hover {
        background: $color_brand_primary_light;
        color: $color_text;
    }

    &.primary {
        background: $color_brand_primary;

        &:hover {
            background: $color_brand_primary_light;

            color: $color_text;
        }
    }
}
