@import "../../variables.scss";

/*
    This is mobile-first, unlike the majority of other pages
*/

.container {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;

    max-width: $max-width_content;

    & > div.imageContainer {
        position: relative;

        width: 100%;
        height: 100%;

        & > div.image {
            min-height: 16rem;
            max-height: 80vh;
            height: 100%;
            width: auto;

            background-size: contain;
            background-position: center;
        }

        .buttons {
            position: absolute;
            top: 1rem;
            right: 1rem;

            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 0.5rem;

            transition: $transition_time_anim;
        }
    }

    & > div.informationContainer {
        display: grid;
        grid-template-rows: repeat(5, max-content);
        grid-template-columns: auto minmax(min-content, max-content);
        grid-gap: 0.5rem;
        align-items: baseline;

        h3 {
            & + * {
                margin-top: 0.5rem;
            }

            font-size: 0.8rem;
            text-transform: uppercase;
            color: $color_text_alt;
        }

        & > div.statsContainer {
            grid-area: 1/1/2/3;

            display: grid;
            grid-gap: 0.5rem;
            grid-template-columns: repeat(4, max-content);
            grid-auto-flow: row;
            align-items: center;

            & > small {
                font-size: 1rem;

                &:first-of-type {
                    margin-right: 1.5rem;
                }
            }
        }

        & > h2 {
            grid-area: 2/1/3/2;

            margin-top: 1rem;
        }

        & > strong.price {
            grid-area: 2/2/3/3;

            margin-top: 1rem;
        }

        & > div.authorContainer {
            grid-area: 3/1/4/3;

            display: flex;
            align-items: center;

            & > a > img {
                height: 2rem;
                width: 2rem;
                border-radius: 50%;

                margin-right: 0.5rem;
            }
        }

        & > div.captionContainer {
            grid-area: 4/1/5/3;

            margin-top: 1rem;

            & > p {
                margin: 0.25rem 0 0 0;

                text-align: left;
            }
        }

        & > div.purchaseCTAContainer {
            grid-area: 5/1/6/3;

            display: flex;
            flex-direction: column;
            align-items: flex-start;

            margin-top: 1rem;

            & > p {
                margin: 0.25rem 0 0 0;

                text-align: left;
            }

            & > button,
            & > a {
                align-self: center;

                margin-top: 1.5rem;
            }
        }
    }
}

.lowerContent {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 37.5%;

        height: 0.125rem;
        width: 25%;

        background-color: $color_grey_dark;
    }

    & > *:first-child {
        padding-top: 2.5rem;
    }
}

.iconLikes {
    display: inline-block;

    width: 1.5rem;
    height: 1rem;

    background-image: url("../../assets/images/heart.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.iconViews {
    display: inline-block;

    width: 1.5rem;
    height: 1rem;

    background-image: url("../../assets/images/views.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (min-width: $media_width_tablet) {
    .container {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);

        & > div.imageContainer > div.image {
            background-position: right;
        }
    }
}
