@import "./variables.scss";

html {
    height: 100vh;
    overflow: hidden;
    font-family: "Jost", "Montserrat", "Roboto", sans-serif;
    font-size: 16px;
}
body {
    height: 100%;
    overflow: auto;
}
#root {
    & > .App {
        display: grid;
        grid-template-rows: repeat(2, minmax(min-content, max-content));

        & > header {
            grid-row: 1 / 2;
        }
        & > div {
            grid-row: 2 / 3;
        }
    }
}

* {
    box-sizing: border-box;
}

p > a,
span > a,
a {
    color: $color_link;
    text-decoration: none;

    transition: $transition_time_link;

    &:hover {
        color: $color_link_hover;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat";

    color: $color_black;
}

h1 {
    font-weight: 300;
    font-size: 3rem;
}
h2 {
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
}

h3,
h4 {
    font-weight: 500;

    color: $color_grey_dark;
}

h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.75rem;
}

p {
    max-width: 72ch;

    margin: 0.5rem auto 0 auto;

    line-height: 1.5em;
}

small {
    font-size: 0.75rem;
    line-height: 1.25em;
    text-transform: uppercase;
    color: $color_grey_dark;
}

b,
strong {
    font-weight: 700;

    color: $color_black;
}

i,
em {
    font-style: italic;

    color: $color_black;
}

// Has child <ul>
.tiled-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    & > span {
        padding: 0.5rem 1.5rem;
        border: 0.15rem solid $color_grey_dark;
        border-radius: 0.5rem;

        // Match <small /> text style
        font-size: 0.75rem;
        text-transform: uppercase;
        color: $color_grey_dark;

        transition: $transition_time_link;
    }

    & > ul {
        overflow: hidden;

        max-height: 0;
        margin-top: 0.5rem;

        transition: $transition_time_anim;
    }

    // todo: always show on displays larger than tablet width!
    &:hover {
        & > span {
            // padding: 0.25rem 1.5rem; // todo: fix page jump

            color: $color_white;
            background: $color_grey_dark;
        }

        & > ul {
            max-height: 32em;
        }
    }
}

ul {
    &.style-none {
        list-style-type: none;

        li {
            display: inline-block;
        }
    }

    &.tiled-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        li {
            display: inline-block;

            margin: 0.5rem;

            & > * {
                display: inline-block;

                margin: 0;
                padding: 1em 1.5em;
                border: 0.15rem solid $color_indywalls_primary;
                border-radius: 0;

                text-transform: uppercase;
                font-size: 0.8rem;

                transition: $transition_time_link;
            }

            & > *:hover,
            &.active > * {
                color: $color_white;
                background: $color_indywalls_primary;
            }
        }
    }
}

nav {
    a {
        margin: 0 0.5rem;
        padding: 1rem 0.5rem;

        color: $color_black;

        &:hover {
            color: $color_indywalls_primary;
        }
    }
}

button {
    padding: 1rem 1.5rem;
    border: none;

    background: $color_grey_dark;

    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
    color: $color_white;

    transition: $transition_time_link;

    &:hover {
        background: $color_grey_dark_light;
    }

    &.button-primary {
        background: $color_indywalls_primary;

        &:hover {
            background: $color_indywalls_primary_light;
        }
    }

    // &.button-icon {
    //     padding: 0.75rem;
    //     border: 0.15rem solid $color_grey_dark;
    //     background: transparent;
    //     color: $color_grey_dark;

    //     &:hover {
    //         border-color: $color_indywalls_primary;
    //         color: $color_indywalls_primary;
    //     }

    //     &.active {
    //         border-color: $color_indywalls_primary;
    //         background: $color_indywalls_primary;
    //         color: $color_white;
    //     }
    // }

    &.button-icon {
        height: 1em;
        width: 1em;
        box-sizing: content-box;

        padding: 0.75rem;
        border-radius: 50%;

        background: $color_white;
        color: $color_grey_dark;

        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

        &:hover {
            color: $color_indywalls_primary;
        }

        &.active {
            background: $color_indywalls_primary;
            color: $color_white;
        }
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin: 2.5rem 0;

    & > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > button {
            margin: 1.5rem 0 0 0;
            width: 16rem;
        }
    }

    & > small {
        max-width: 16rem;
        margin-top: 0.5rem;

        text-align: center;
    }
}

input,
select,
option {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
}

.page-container {
    width: 100%;
    max-width: $max-width_content;

    padding: 0 2em;

    margin: 0 auto;
}

.page-header {
    position: relative;

    max-width: max-content;

    margin: 2.5rem auto 1rem auto; // 1rem to replace bottom padding
    padding: 1rem;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 37.5%; // 25% + (25% / 2)
        width: 25%;
        height: 0.15rem;

        background: $color_indywalls_primary;
    }

    & > h1 {
        text-align: center;
    }

    & > p {
        margin-top: 1.5rem;

        text-align: center;
        text-transform: uppercase;
    }
}

.lower-content-container {
    margin-top: 2.5rem;

    & > p {
        text-align: center;
    }
}

.collection-container {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 1rem;
    justify-items: center;

    margin-top: 2.5rem;

    & > a {
        padding: 1rem 2.5rem;
    }
}
